<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1">
    <title><%= docTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <!-- Bootstrap -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Optionales Theme -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
   <!-- Das neueste kompilierte und minimierte JavaScript -->
  <script src="/bootstrap/js/bootstrap.min.js"></script>