<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="">
</head>

<body>
    <%- include('./includes/navigation.ejs') %>

    <main>
        <h1>DASHBOARD</h1>
<%- include('./includes/end.ejs') %>